body{
  font-family: sans-serif;
  margin: 0;
  background-image:linear-gradient(white, black);
}
.about{
    color:white;
    background-image:linear-gradient(black, gray);
    width:600px;
    border:4px solid white;
    border-radius:20px;
    padding:40px;
    margin:10px;
    text-align:center;
    display:flex;
    justify-content:space-around;
    
    
}
nav{
    color:white;
    background-color:#2b2b2b;
    width:500px;
    border:5px solid black;
    border-radius:20px;
    padding:10px;
    margin:15px;
    display:flex;
    justify-content:space-evenly;
}
a{
    color:white;
    text-decoration:none;
}
footer{
    color:white;
    margin:20px;
    background-image:linear-gradient(black, gray);
    width:450px;
    padding:10px;
    border:5px solid white;
    border-radius:20px;
}
.Youtube{
    color:white;
    background-color:red;
    width:50px;
    border-radius:20px;
    border:2px solid orange;
    margin:20px;
    padding:10px;
}
.Youtube:hover{
    background-color:white;
    border:3px solid red;
    color:red;
    transition:0.5s;
}
.Youtube:active{
    background-color:white;
    color:white;
    border:white;
}
.toocoo{
    margin:20px;
    display:flex;
    border:5px solid pink;
    border-radius:15px;
}
p{
    color:red;
    font-size:40px;
}
li{
    margin:8px;
}
.navigatia{
    font-size:20px;
    background-image:linear-gradient(black, gray);
    border:3px solid white;
    border-radius:10px;
    color:white;
    width:135px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
}
.navigatia:hover{
    background-image:linear-gradient(gray, black);
    border:3px solid black;
}
.frenches{
    color:pink;
}
.Навігація{
    font-size:30px;
}
header{
    display:flex;
    justify-content:center;
    align-items:center;
}
main{
    display:flex;
    justify-content:center;
    align-items:center;
}
